$fonts:Arial, Helvetica, sans-serif;
body{
    margin:0px;
}
//Desktop
.container{
    width: 1140px;
    //margin:15px auto;
    //margin:0px auto;
    padding-top: 15px;
}
p,span{
    font-family: $fonts;
    font-size: 18px;
}
.read-paper-link{
    color:#6495ed;
    font-weight: 700;
    text-decoration:none;
}
.wrapper{
    //margin: 30px auto;
    h1{
        font-family: $fonts;
        font-size: 35px;
        font-weight: 700;
        margin-top: 0px;
    }
    h3{
        font-family: $fonts;
        font-size: 21px;
        font-weight:bold;
    }
}
section{
    width: 100%;
    margin: 0px;
}
.usecase-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    h3{
        margin: 0px 0px 15px 0px;
    }
    img{
        margin:0px 15px 10px 0px;
        width: 45px;
        height: 50px;
    }
    
}
.usecase-flex > div{
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
//tablet landscape
@media screen and (min-width: 960px) and (max-width:1199px){  
    .container{
        width: 936px;
    }
}
//tablet portrait
@media screen and (min-width:640px) and (max-width:959px){ 
    .container{
        width: 720px;
        padding: 15px;
    }
    // img{
    //     float: left;
    // }
    .usecase-flex > div{
        width: 45%;
        flex-direction: row;
        // p{
        //     margin-left: 60px;
        // }
    }
    
}
//mobile
@media screen and (max-width: 639px)  {  
    .container{
        width: 100%;
        padding: 15px;
    }
    .usecase-flex > div{
        width:100%;
        flex-direction: row;
    }
    .usecase-flex {
        div{
            // p{
            //     margin-left: 60px;
            // }
        }
    }
    // img{
    //     float: left;
    // }
    
}